

body, h1, h2, h3, h4, h5, h6, p, span, div, a, ul, li, input, button {
font-family: 'Inter' !important;
}


a:hover,
a:focus,
a.active {
  color: #6673fd;
}

[data-class="bg-primary"]:before {
  background: #6673fd;
}

.email-left-box .intro-title {
  background: rgba(102, 115, 253, 0.1);
}

.email-left-box .intro-title i {
  color: #6673fd;
}

.widget-stat .media .media-body h4 {
  color: #6673fd !important;
}

.email-right-box .right-box-border {
  border-right: 2px solid rgba(102, 115, 253, 0.1);
}

.mail-list .list-group-item.active i {
  color: #6673fd;
}

.single-mail.active {
  background: #6673fd;
}

.profile-info h4.text-primary {
  color: #6673fd !important;
}

.profile-tab .nav-item .nav-link:hover,
.profile-tab .nav-item .nav-link.active {
  border-bottom: 0.2px solid #6673fd;
  color: #6673fd;
}

.amChartsInputField {
  border: 0;
  background: #6673fd;
}

.amcharts-period-input,
.amcharts-period-input-selected {
  background: #6673fd;
}

.morris-hover {
  background: #6673fd;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #6673fd;
}

.custom-select:focus {
  border-color: #6673fd;
  color: #6673fd;
}

.daterangepicker td.active {
  background-color: #6673fd;
}

.daterangepicker td.active:hover {
  background-color: #6673fd;
}

.daterangepicker button.applyBtn {
  background-color: #6673fd;
  border-color: #6673fd;
}

.wizard>.steps li.current a {
  background-color: #6673fd;
}

.wizard .skip-email a {
  color: #6673fd;
}

.wizard>.actions li:not(.disabled) a {
  background-color: #6673fd;
}

.step-form-horizontal .wizard .steps li.done a .number {
  background: #6673fd;
}

.step-form-horizontal .wizard .steps li.current a .number {
  color: #6673fd;
  border-color: #6673fd;
}

.step-form-horizontal .wizard .steps li.disabled a .number {
  color: #6673fd;
}

.step-form-horizontal .wizard .steps li:not(:last-child)::after {
  background-color: #6673fd;
}

.is-invalid .input-group-prepend .input-group-text i {
  color: #b2b8fe;
}

.datamaps-hoverover {
  color: #6673fd;
  border: 1px solid rgba(102, 115, 253, 0.3);
}

.jqvmap-zoomin,
.jqvmap-zoomout {
  background-color: #6673fd;
}

.table .thead-primary th {
  background-color: #6673fd;
}

.table.primary-table-bg-hover thead th {
  background-color: #4d5cfd;
}

.table.primary-table-bg-hover tbody tr {
  background-color: #6673fd;
}

.table.primary-table-bg-hover tbody tr:hover {
  background-color: #7f8afd;
}

.table.primary-table-bg-hover tbody tr:not(:last-child) td,
.table.primary-table-bg-hover tbody tr:not(:last-child) th {
  border-bottom: 1px solid #4d5cfd;
}

table.dataTable tr.selected {
  color: #6673fd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #6673fd !important;
  background: rgba(102, 115, 253, 0.1);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #6673fd !important;
  background: rgba(102, 115, 253, 0.1);
}

.clipboard-btn:hover {
  background-color: #6673fd;
}

.cd-h-timeline__dates::before {
  background: #6673fd;
}

.cd-h-timeline__dates::after {
  background: #6673fd;
}

.cd-h-timeline__line {
  background-color: #6673fd;
}

.cd-h-timeline__date:after {
  border-color: #6b77fd;
  background-color: #6673fd;
}

.cd-h-timeline__navigation {
  border-color: #6b77fd;
}

.cd-h-timeline__navigation--inactive:hover {
  border-color: #6b77fd;
}

.dd-handle {
  background: #6673fd;
}

.dd-handle:hover {
  background: #6673fd;
}

.dd3-content:hover {
  background: #6673fd;
}

.noUi-connect {
  background-color: #6673fd;
}

.noUi-connect.c-3-color {
  background-color: #6673fd;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
  background-color: #6673fd;
}

#slider-toggle.off .noUi-handle {
  border-color: #6673fd;
}

.pignose-calendar {
  border-color: #6673fd;
}

.pignose-calendar .pignose-calendar-top-date {
  background-color: #6673fd;
}

.pignose-calendar.pignose-calendar-blue .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
  background-color: #6673fd;
}

.bootstrap-tagsinput .tag {
  background-color: #6673fd;
}

.toast-success {
  background-color: #6673fd;
}

.twitter-typeahead .tt-menu .tt-suggestion:hover {
  background-color: #6673fd;
}

.accordion-header-bg .accordion__header--primary {
  background-color: #6673fd;
}

.alert-primary {
  background: #e4e6ff;
  border-color: #e4e6ff;
  color: #6673fd;
}

.alert-alt.alert-primary {
  border-left: 4px solid #6673fd;
}

.alert-alt.alert-primary.solid {
  border-left: 4px solid #0316e1 !important;
}

.alert.alert-primary.solid {
  background: #6673fd;
  border-color: #6673fd;
}

.alert.alert-outline-primary {
  color: #6673fd;
  border-color: #6673fd;
}

.badge-outline-primary {
  border: 1px solid #6673fd;
  color: #6673fd;
}

.badge-primary {
  background-color: #6673fd;
}

.page-titles h4 {
  color: #6673fd;
}

.card-action>a {
  background: #01063f;
}

.card-action .dropdown {
  background: #01063f;
  color: #6673fd;
}

.card-action .dropdown:hover,
.card-action .dropdown:focus {
  background: #01063f;
}

.card-loader i {
  background: #4353fd;
}

.dropdown-outline {
  border: 0.1rem solid #6673fd;
}

.custom-dropdown .dropdown-menu .dropdown-item:hover {
  color: #6673fd;
}

.card-action .custom-dropdown {
  background: #fdfdff;
}

.card-action .custom-dropdown.show,
.card-action .custom-dropdown:focus,
.card-action .custom-dropdown:hover {
  background: #6673fd;
}

.label-primary {
  background: #6673fd;
}

.pagination .page-item .page-link:hover {
  background: #6673fd;
  border-color: #6673fd;
}

.pagination .page-item.active .page-link {
  background-color: #6673fd;
  border-color: #6673fd;
}

.bootstrap-popover-wrapper .bootstrap-popover button:hover,
.bootstrap-popover-wrapper .bootstrap-popover button:focus {
  background: #6673fd;
}

.progress-bar {
  background-color: #6673fd;
}

.progress-bar-primary {
  background-color: #6673fd;
}

.ribbon__four {
  background-color: #6673fd;
}

.ribbon__four:after,
.ribbon__four:before {
  background-color: #cbcffe;
}

.ribbon__five {
  background-color: #6673fd;
}

.ribbon__five::before {
  border-color: transparent transparent #6673fd transparent;
}

.ribbon__six {
  background-color: #6673fd;
}

.multi-steps>li {
  color: #6673fd;
}

.multi-steps>li:after {
  background-color: #6673fd;
}

.multi-steps>li.is-active:before {
  border-color: #6673fd;
}

.timeline-badge.primary {
  background-color: #6673fd !important;
}

.tooltip-wrapper button:hover {
  background: #6673fd;
}

.chart_widget_tab_one .nav-link.active {
  background-color: #6673fd;
  border: 1px solid #6673fd;
}

.chart_widget_tab_one .nav-link.active:hover {
  border: 1px solid #6673fd;
}

.social-icon2 a {
  border: 0.1rem solid #6673fd;
}

.social-icon2 i {
  color: #6673fd;
}

.social-icon3 ul li a:hover i {
  color: #6673fd;
}

.bgl-primary {
  background: #fdfdff;
  border-color: #fdfdff;
  color: #6673fd;
}

.tdl-holder input[type=checkbox]:checked+i {
  background: #6673fd;
}

.copyright {
  background-color: #3E3E3E;
  color: whitesmoke;
}

.hamburger .line {
  background: #6673fd;
}

svg.pulse-svg .first-circle,
svg.pulse-svg .second-circle,
svg.pulse-svg .third-circle {
  fill: #6673fd;
}

.pulse-css {
  background: #6673fd;
}

.pulse-css:after,
.pulse-css:before {
  background-color: #6673fd;
}

.notification_dropdown .dropdown-menu-right .notification_title {
  background: #6673fd;
}

.header-right .header-profile .dropdown-menu a:hover,
.header-right .header-profile .dropdown-menu a:focus,
.header-right .header-profile .dropdown-menu a.active {
  color: #6673fd;
}

.header-right .header-profile .profile_title {
  background: #6673fd;
}

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .nav-control .hamburger .line {
  background-color: #C4C4C4 !important;
}

.deznav .metismenu>li>a svg {
  color: #6673fd;
}

.deznav .metismenu>li:hover>a,
.deznav .metismenu>li:focus>a {
  color: #6673fd;
}

.deznav .metismenu>li.mm-active>a {
  color: #6673fd;
}

.deznav .metismenu ul a:hover,
.deznav .metismenu ul a:focus,
.deznav .metismenu ul a.mm-active {
  color: #6673fd;
}

@media (min-width: 767px) {

  [data-sidebar-style="modern"] .deznav .metismenu>li>a:hover>a,
  [data-sidebar-style="modern"] .deznav .metismenu>li>a:focus>a,
  [data-sidebar-style="modern"] .deznav .metismenu>li>a:active>a,
  [data-sidebar-style="modern"] .deznav .metismenu>li>a.mm-active>a {
    background-color: white;
  }

}

[data-sidebar-style="overlay"] .nav-header .hamburger.is-active .line {
  background-color: #C4C4C4;
}

.nav-user {
  background: #6673fd;
}

.sidebar-right .sidebar-right .sidebar-right-trigger {
  color: #6673fd;
}

.sidebar-right .sidebar-right .sidebar-right-trigger:hover {
  color: #6673fd;
}

[data-theme-version="dark"] .pagination .page-item .page-link:hover {
  background: #6673fd;
  border-color: #6673fd;
}

[data-theme-version="dark"] .pagination .page-item.active .page-link {
  background: #6673fd;
  border-color: #6673fd;
}

[data-theme-version="dark"] .header-left input:focus {
  border-color: #6673fd;
}

[data-theme-version="dark"] .loader__bar {
  background: #6673fd;
}

[data-theme-version="dark"] .loader__ball {
  background: #6673fd;
}

[data-theme-version="transparent"] .header-left input:focus {
  border-color: #6673fd;
}

.new-arrival-content .price {
  color: #6673fd;
}

.chart-link a i.text-primary {
  color: #6673fd;
}

#user-activity .nav-tabs .nav-link.active {
  background: #6673fd;
  border-color: #6673fd;
}

span#counter {
  color: #6673fd;
}

.welcome-content:after {
  background: #6673fd;
}

.timeline-badge {
  background-color: #6673fd;
}

.page-timeline .timeline-workplan.page-timeline .timeline .timeline-badge:after {
  background-color: rgba(102, 115, 253, 0.4);
}

.sk-three-bounce .sk-child {
  background-color: #6673fd;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #6673fd;
}

.overlay-box:after {
  background: #6673fd;
}


.btn-primary {
  background-color: #6673fd;
  border-color: #6673fd;
}

.btn-primary:hover {
  background-color: #1a2efc;
  border-color: #1a2efc;
}

.bg-primary {
  background-color: #6673fd !important;
}

.text-primary {
  color: #6673fd !important;
}


.btn-outline-primary {
  color: #6673fd;
  border-color: #6673fd;
}

.btn-outline-primary:hover {
  background-color: #6673fd;
  border-color: #6673fd;
}


/* Disini dipake yang dipake ubah*/
.btn-primary-add-data {
  background-color: #BE8ED7;
  border-color: #BE8ED7;
  margin: 5px;
  border-radius: 10px;
}

.btn-primary-add-data:hover {

  background-color: #d000fa;
  border-color: #d000fa;
  color: white;

}

.btn-primary-confirm {
  background-color: #57e780;
  border-color: #57e780;
  margin: 5px;
  border-radius: 10px;
}

.btn-primary-confirm:hover {

  background-color: #22fb5f;
  border-color: #22fb5f;
  color: white;

}

.btn-primary-download-excel {
  background-color: #EB823B;
  border-color: #EB823B;
  margin: 5px;
  border-radius: 10px;
}

.btn-primary-download-excel:hover {
  background-color: #E55C00;
  border-color: #E55C00;
  color: white;
}

.btn-primary-import {
  
  
  margin: 5px;
  border-radius: 10px;
}
.custom-btn-status {
  cursor: pointer;
}

.nav-custome {
  background-color: #C4C4C4;
}


.container1 {
  display: flex;
  align-items: center;
  /* Menyamakan tinggi elemen secara vertikal */
  margin-bottom: 15px;
}

.label-form{
  max-width: 25%;
  min-width: 25%;
  
}
.label-profile{
  max-width: 100%;
  min-width: 25%;
  
}

.container1-up{
  display: flex;
  align-items: baseline;
  /* Menyamakan tinggi elemen secara vertikal */
  margin-bottom: 15px;
}
.container1-up .label-form{
  max-width: 16.5%;
  min-width: 16.5%;
}
.container1-up .label-form-txa{
  max-width: 26.7%;
  min-width: 24.7%;
}

.container1 img {
  margin-right: 10px;
  /* Jarak antara gambar dan judul */
  width: 40px;
}

.logo-home {
  max-width: 20px;
}

.nav-text{
  color: black;
}
.list-nav-text{
  color: black;
}

.custom-plus{
  font-size: 30px;
  font-family: Arial;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px;
  color: white;
  max-width: 40px;
  min-width: 40px;
  background-color: #4A4949;
  padding: -2;
  border-radius: 10px;}

.custom-plus:hover{
  background-color: black;
}

.logo-beasiswa{
  width: 50px;
}

@media(max-width:1080px ){
  .custom-container-form{
    display: block;
     
    }
  .label-form{
    max-width: 100%;
    min-width: 100%;
  }
  
}
.add-btn-custom{
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  max-width: 180px;
  height: 35px;
  position: relative;
  top: 55px;
  left: 20px;
  z-index: 2;
}
.add-btn-custom img{
  width: 25px;
  margin-right: 11px;
}

.add-btn-custom:hover{
  background-color: rgb(231, 231, 231); 
  font-size: 15px;
  font-weight: bold;
}

@media(max-width:640px){
.logo-beasiswa,.nav-name-account,.label-profile span{
  display: none;
  
}

.add-btn-behav-custom{
  display: flex;
  justify-content: center;
  width: 100%;
}
.add-btn-custom{
  position: static;
  width: 100%;
}

}

.custom-other-option{
  border-radius: 6px;
}
.custom-textfield{
  border: 3px solid #BEBDBD;
}

.status-green{
  background-color: green;
}
.status-red{
  background-color: red;
}

.margin-custom{
  margin: 10px;
}


.th-sm{
  min-width: 20px;
  max-width:100px;
  
  
  
}
.th-nm{
  min-width: 100px;
  max-width: 200px;
  

}
.th-lg{
  max-width: 300px;
  min-width: 200px;
  
}
.logo-UG-login{
  width: 15%;
  margin-right: 1vw;
}
.logo-MB-login{
  width: 80%;
}
.content-custom{
  padding-top:15vh;
  height: 100vh;
}
.footer-custom{
  margin: 0;padding: 0;
}
#doc-search{
  transition: 0.3s; /* Transisi untuk efek perubahan gambar */
  width: 35px;
}

#doc-search:hover{
  content: url(../img/doc-search-hover.png);
}

#toggle-button:hover{
  color: #BE8ED7;
  cursor: pointer;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  
  margin:  20px 0;
  border-radius: 10px;
  overflow: hidden;
}

.profile-image {
  position: relative;
  
}

.profile-image img {
  border-radius: 2vh;
  width: 100%;
  height: 100%;
  max-height: 300px;
  
}

.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 2vh;
}

.upload-overlay label {
  cursor: pointer;
}

.profile-image:hover .upload-overlay {
  opacity: 1;
}

.how-to-import{
  margin-bottom: 10px;
  
  
}
.how-to-import{
  padding-left: 20px;
}
.how-to-import p{
  margin: 0;
  padding: 0;

}

.how-to li{
  list-style:inherit ;
}
.how-to li a{
  color: blue;
  text-decoration: underline;
}
.no-mg{margin: 0!important ; }
.no-pd{ padding: 0!important ;}

.hidden-other-option {
  display: none;
}

/* Accepting Button */

.radio-buttons-confirm {
  display: flex;
  gap: 2px;
}

.radio-input-confirm {
  display: none;
}

.radio-label-confirm {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 3px 8px;
  border: 2px solid #ccc;
  border-radius: 100%;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-input-confirm:checked + .radio-label-confirm {
  color: white;
}

.no-color{
  background-color: transparent;
  border: transparent;
}
.radio-input-confirm:checked + .accepted-label-confirm {
  background-color: #40ff00; /* Hijau */
  border-color: #00ff3c;
}

.radio-input-confirm:checked + .accepted-label-confirm .icon-confirm {
  color: white;
}

.radio-input-confirm:checked + .rejected-label-confirm {
  background-color: #ff0019; /* Merah */
  border-color: #ff0019;
}

.radio-input-confirm:checked + .rejected-label .icon-confirm {
  color: white;
}


 /* Styling untuk elemen hasil (default di sembunyikan) */
.dropdown-custom {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0;
  z-index: 90;
  border: 2px solid whitesmoke;
  border-radius: 3px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.5);
}
#npm-data,#jb-data{
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
#jb-noData,#npm-noData{
  padding: 5px 10px 5px 10px;
}

#npm-data:hover,#jb-data:hover{
  background-color: whitesmoke;
}
#npm-data:active,#jb-data:active{
  background-color: #BE8ED7;
}
 
.test{
  border: 2px solid red;
}
/* 
#example3 thead tr th ,#example3 tbody tr th{
  min-width: 200px;

} */

/*  */